.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type1 {
    width: 100px;
    height: 100px;
    background: blue;
    margin: 0 auto;
}

.home__body {
	width:169px!important;
	position: relative;
}

.home__title {
	background-color: none!important;

}